ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vh;
}

.row-container {
  display: flex;
}

.row-container span {
  height: 60px;
  width: 60px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-radius: 2px;
  font-size: 24px;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}

.input-wrapper button {
  border: 0;
  padding: 12px;
  margin: 12px;
  background-color: green;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.input-container {
  display: flex;
}

.guess-letter {
  margin: 0 5px;
}

.input-container .guessColor-container {
  display: flex;
  justify-content: space-evenly;
}

.input-container .guessColor {
  height: 20px;
  width: 40%;
  margin: 2px;
  cursor: pointer;
}

.input-container input {
  height: 60px;
  width: 60px;
  margin: 2px;
  border: 0;
  outline: none;
  border: 2px solid #d3d6da;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  font-size: 24px;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: 2vw auto;
}

.result-container .result-word {
  margin: 2px;
  background-color: #787c7e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}